

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
-->







<!-- put that inside a proper css file.. -->
<style type="text/css">


body {
    margin-top: 25px;
    font-size: 21px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}








  .collection-list-thumb {
    float: left;
    padding-right: 0.8rem;
    margin-left: 0.5rem;
    padding-bottom: 0.3rem;
  }

  .collection-list {

  }

  .collection-item {
    float: left;
    max-width: 25rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0rem;
    padding-bottom: 0.3rem;
  }


  <!-- brand logos for the slick carousel -->
  .brandslide {
    padding-left: 2rem;
    padding-right: 0.4rem;

  }


  .brandslider .slick-slide {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-left: 2rem;
  }

/*
  .slick-active {
    margin-right: 1rem;
  }
*/

  article img {
    max-width: 100%;
    height: auto;
  }


  /* top slide class for slick slides that are included with include function "s_gallery" --> */
  .top_slide {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }

/*  standard class for slick slides that are included with include function "s_gallery" --> */
  .slick-slide {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }

  #navigation,.navbar .navbar-default {
      background-image: url("/images/green-back-1300x200-2.jpg"); /* assuming img folder is one step back from css*/
  }


  .s_gallery {
    display: flex;
    flex-flow: row wrap;

  }



  div.s_galleryimage {

      max-width: 180px;
      margin: auto;  /* Magic! */
  }



  div.s_galleryimage:hover {
      border: 1px solid #777;
  }

  div.s_galleryimage img {

      /* Just in case there are inline attributes */
      width: 100% !important;
      height: auto !important;
  }

  div.s_galleryimage {
      padding: 5px;
      text-align: center;
  }


</style>
